<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://i.ibb.co/YZv3X6F/1613491158332.jpg" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4"><%= article.title %></h1>

        <h4 class="mb-4">
            <%= article.author %>
        </h4>

        <h4 class="mb-4">
            <%= article.subject %>
        </h4>


        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>

        </div>


        <a href="/articles" class="btn btn-secondary" >All Articles</a>


        <a href="/articles/edit/<%= article.id %> " class="btn btn-info">Edit</a>

        

         <div class="">
            <%- article.sanitizedHtml %>

         </div>
       

   

  

    </div>

</body>

</html>