<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<script src="js/jsPDF/dist/jspdf.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js">
 
    <script src="js/jquery.min.js"></script>
    
    <title>Document</title>
</head>

<body>
    <div class="container" id="content">
        <h4 class="card-title">
            Nom Complet : <%= answer.name %>
        </h4>
        <hr class="my-4">
        
        <h6 class="card-title">
            Email : <%= answer.email %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Service Demandé : <%= answer.service %>
        </h6>
        <hr class="my-4">
        
        <h6 class="card-title">
            Type de Site/Application : <%= answer.type %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Design : <%= answer.design %>
        </h6>
        
        <hr class="my-4">
        <h6 class="card-title">
            Secteur D'activité : <%= answer.secteur %>
        </h6>
        
        <hr class="my-4">
        <h6 class="card-title">
            Nombre de page <%= answer.nbrpage %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Fonctionnalité Supplimentaire: <%= answer.infosupp1 %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Fonctionnalité Supplimentaire: <%= answer.infosupp2 %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Login systeme <%= answer.login %>
        </h6>
        <hr class="my-4">
        <h6 class="card-title">
            Type de Dev : <%= answer.typedev %>
        </h6>
        <hr class="my-4">
        
        <div class="card-subtitle text-muted mb-2">
            fait le : <%= answer.createdAt.toLocaleDateString() %>
        </div>
        <hr class="my-4">


        <a href="/answers" class="btn btn-secondary">All answer</a>


        <a href="/answers/edit/<%= answer.id %> " class="btn btn-info">Edit</a>

        <button class="btn btn-info" onclick="generate()" >download</button>









    </div>


    <script>
        const generate = ()=> {
           var doc = new jsPDF();
           var elementHTML = document.getAnimations("content")
           console.log(content)
            // var elementHTML = document.getAnimations("content").html();
            // var specialElementHandlers = {
            //     '#elementH': function (element, renderer) {
            //         return true;
            //     }
            // };
            // doc.fromHTML(elementHTML, 15, 15, {
            //     'width': 170,
            //     'elementHandlers': specialElementHandlers
            // });

            // // Save the PDF
            // doc.save('sample-document.pdf');
            }
    </script>
</body>

</html>